
SECRET_KEY=

JWT_PRIVATE_KEY_B64=
JWT_PUBLIC_KEY_B64=

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

CELERY_BROKER_URL = redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND = redis://127.0.0.1:6379/1

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

AUTH0_DOMAIN=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_CALLBACK_URL=
AUTH0_FRONTEND_SUCCESS_URL=
AUTH0_FRONTEND_FAILURE_URL=
AUTH0_SCOPE=
API_AUDIENCE=

